.foo {
    background: url("@{image-url}/foo.bar") no-repeat 100% 0%; /*!direction-ignore  */
}
#bar {
    background: url("@{image-url}/foo.bar") no-repeat 10% 80%;
    background: url('@{image-url}/up_arrow.png') no-repeat 95% center;
    background: url('@{image-url}/up_arrow.png') no-repeat center 95%;
    background: url(/static/desktop/images/btn_edit_comment.png) no-repeat left 0%;
    background: linear-gradient(top, #29b8e0 0%, #0669bb 100%);

    .baz {
        background: url("@{image-url}/foo.bar") no-repeat 50% 0;
        background: #333 url("@{image-url}/foo.bar") no-repeat 50px 0;
        background: url("@{image-url}/foo.bar") no-repeat 1.3px 0;
        background: url("@{image-url}/foo.bar") no-repeat 0 50px;
        background: url("@{image-url}/foo.bar") 0 50% no-repeat;
        background: url("/star-12px.png") 0% 100%;
        background-position: no-repeat 20% 10%;
        background-position: 30% 10% no-repeat;
        background-position: 40% 10%;
        background-position: 50% 10%;
        background: url("@{image-url}/foo.bar") no-repeat;
        background: url("@{image-url}/foo.bar");
        background: url("@{image-url}/foo.bar")  1.5% 50px no-repeat;
        background: url("@{image-url}/foo.bar") center center no-repeat;
        background: url("@{image-url}/foo.bar") 30%;
        background-position:70%;
        background-position: 70% ;
        background-position:0;
        background-position: 0 ;

        .qux {
            background-position: 50% 10%;  /* !direction-ignore*/
        }
    }
}