body{direction:rtl;}.foo {
    font-weight: italic; /*!direction-ignore*/
}
#bar {
    font-weight: italic;  /*  !direction-ignore  */
}
.baz {
    font-weight:   normal  ;  

    .qux {
        font-weight: normal;
    }
}
.quux .corge {
    font-weight: normal;
}