body{direction:ltr;}.foo {
    
    display: inline;
    float: right;
    padding: 1em;
    margin-left: 2em;
    margin-right: 3em;
}
#bar {
    background: url("@{image-url}/foo.bar") 60% 0 no-repeat;
    margin: 1px 2px 3px 4px;
    font-style: italic; /* !ltr-only */
    float: right;
    clear: left;

    .baz {
        text-align: right;
        display: inline-block;
        
        margin-right: 2em;
        padding: 1em 2em 3em 4em; /*!direction-ignore*/
    }
}
